.App {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.create-account {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 15px;
  width: 400px;
  height: 375px;
  box-sizing: border-box;
  float: left;
}

.login {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 15px;
  width: 500px;
  height: 230px;
  box-sizing: border-box;
  float: left;
}

.Signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.post {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.post h3 {
  margin: 20px;
}