.App {
  color: #BC986A;
  text-align: center;
}

.color-nav {
  background-color: #DAAD86;
  margin-top: 10px;
}

.justify-content-end {
  margin-right: 5px
}

.element.style {
  padding-right: 0px;
}

.col-1 {
  padding-left: 0px;
}

.butn { 
  background-color: #DAAD86; 
  border: 2px solid #DAAD86; 
  border-radius: 4px; 
  color: #ffff;  
  text-decoration: none; 
} 

.butn:hover { 
  background: #BC986A;
  border: 2px solid #BC986A; 
  text-decoration: none; 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2.header {
  text-align: center;
}

.create-account {
  color: #BC986A;
  border: 2px solid #BC986A;
  padding: 10px;
  background-color: #ffffff;
  display: block;
  margin: 15px;
  width: 400px;
  height: 375px;
  box-sizing: border-box;
  float: left;
}

.login {
  color: #BC986A;
  border: 2px solid #BC986A;
  padding: 10px;
  background-color: #ffffff;
  display: block;
  margin: 15px;
  width: 500px;
  height: 230px;
  box-sizing: border-box;
  float: left;
}

.Signin {
  color: #DAAD86;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.information {
  text-align: left;
  padding: 10px;
  display: block;
  margin: 15px;
  width: 550px;
  height: 480px;
  float: left;
}

/* Home Page */
.card {
  border: 2px solid #BC986A;
  display: flex;
  max-width: 50%;
  float: left;
  margin: 90px;
}

.item-img {
  width: 150px;
  height: 220px;
}

.card-body {
  display: block;
  -webkit-box-orient: vertical;
  margin: 0;
}

.item-expand {
  background-color: #DAAD86; 
  border: 2px solid #DAAD86; 
  border-radius: 4px; 
  color: #ffff;  
  text-decoration: none;
}

.item-expand:hover {
  background: #BC986A;
  border: 2px solid #BC986A; 
  text-decoration: none;
}

.images {
  padding: 10px;
  display: block;
  margin: 15px;
  width: 550px;
  height: 480px;
  float: left;
}


/* Rental Detail Page */
.detail-card {
  border: 2px solid #BC986A;
  margin: 50px;
  display: flex;
}

.rental-detail-img {
  width: 700px;
  height: 500px;
}

.card-body-detail {
  margin: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
}


/* Nav Bar Dropdown */
.dropdown-menu.show {
  position: absolute;
  right: -15px;
  background-color: #DAAD86;
}

.dropdown-menu.show:hover {
  background: #BC986A;
}

.dropdown-item:hover {
  background-color: #DAAD86;
}

.header {
  color: #BC986A;
}